body {
    margin: 0;
}

#world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(#DAEDF2, #8DD5EC);
}

.title {
    position: absolute;
    left: 50%;
}

.hide {
    display: none;
}